In [1]:
# 1.Create one variable containing following type of data:
a=('ansari kaif')
type(a)

str

In [2]:
b=['kaif',41,0.2,False]
type(b)

list

In [3]:
c=147.02
type(c)

float

In [4]:
d=('kaif',True,24,'abcd',65.05)
type(d)

tuple

In [5]:
# 2.Give are some following variable containing data ?

In [6]:
 var1='this is right answer'

In [7]:
# 3.explain the use of the following using an example ?

In [8]:
5/6

0.8333333333333334

In [9]:
7%5

2

In [10]:
9//2

4

In [11]:
5**2

25

In [12]:
# 4.Creat a list of lenght 10 your choice contaninig muliple types of data using for oop print the element and its data type ?

In [13]:
a=10
b=1
while a>b :
    print(b)
    b=b+1

1
2
3
4
5
6
7
8
9

In [14]:
# Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible

In [15]:
a=int(input())
b=int(input())

 10
 20

In [21]:
a=15
b=2.5
while a>b :
    print(b)
    b=b+2.5
if 2.5<15:
    print("yes 15 is large")
else:
    print('ok')

2.5
5.0
7.5
10.0
12.5
yes 15 is large

In [ ]:
# Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [25]:
abc = [15,44,68,25,5,36,23,11,20,95,4,41,68,21,6,9,10,18,12,5,21,30,7,8,32]
for xyz in abc:
    if xyz % 3 == 0:
        print(xyz, "is divisible by 3")
    else:
        print(xyz, "is not divisible by 3")

15 is divisible by 3
44 is not divisible by 3
68 is not divisible by 3
25 is not divisible by 3
5 is not divisible by 3
36 is divisible by 3
23 is not divisible by 3
11 is not divisible by 3
20 is not divisible by 3
95 is not divisible by 3
4 is not divisible by 3
41 is not divisible by 3
68 is not divisible by 3
21 is divisible by 3
6 is divisible by 3
9 is divisible by 3
10 is not divisible by 3
18 is divisible by 3
12 is divisible by 3
5 is not divisible by 3
21 is divisible by 3
30 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
32 is not divisible by 3

In [ ]:
# What do you understand about mutable and immutable data types? Give examples for both showing this property

In [26]:
name = "kaif"
modified_name = name.replace("k", "M")
print(name)
print(modified_name)

kaif
Maif

In [27]:
ab = [1, 2, 3]
ab.append(4)
ab[1] = 5
print(ab)

[1, 5, 3, 4]